
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100;
    background-color: rgb(12, 110, 110);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 520px;
    width: 320px;
background-color: rgb(46, 45, 45);
border-radius: 3%;
border: 3px solid black;

}
.stories{
  height: 100px;
  width: 100%;
  border-radius: 3%;
  padding: 20px;
  border-bottom: 1px solid black;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap:p10x
}
.stories::-webkit-scrollbar{
    display: none;
}
.logo{
    display: flex;

}
.logo p{
    font-size: 1.5vw;
    color: white;
    font-family:"Lobster Two";
    margin:20px;
   
}

.heart{
margin-left:100px;
margin-top: 25px;
justify-content: flex-end;
}
#share{
    margin-left: 10px;;
}
.story{
   border: 2px solid rgb(155, 9, 9);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-top: -7%;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
