
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100;
    background-color: rgb(12, 110, 110);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 680px;
    width: 370px;
background-color: rgb(46, 45, 45);
border-radius: 3%;
border: 3px solid black;
position: relative;

}
.stories{
  height: 100px;
  width: 100%;
  border-radius: 3%;
  padding: 20px;
  border-bottom: 1px solid black;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap:p10x
}
.stories::-webkit-scrollbar{
    display: none;
}
.logo{
    display: flex;
  /* position: relative; */
}
.logo p{
    font-size: 1.5vw;
    color: white;
    font-family:"Lobster Two";
    margin:20px;
   
}

.heart{
margin-left:150px;
margin-top: 25px;
justify-content: flex-end;
}
#share{
    margin-left: 10px;;
}
.story{
   border: 2px solid rgb(155, 9, 9);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-top: -6%;
    padding: 5px;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}


/* Bottom Part */
.header{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 10px;
}
.header #profile{
    width: 15%;
    height:15%;
    border-radius: 50%;
    border: 1px solid red;
    padding: 3px;
     margin-left: 10px;
}
.header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}
.header p span{
    font-size: 10px;
}


/* Main Post */
.main-post{
    display: flex;
    justify-content: center;
    /* width: 80%; */
}
.box{
    width: 85%;
    height: 60%;
    /* background-color: white; */
    object-fit: cover;
      object-position: center;
      overflow: hidden;
      opacity: 1;
      border-radius: 10px;
}
.box img{
    width: 100%;
    height: 100%;

}


/* Footer Part */
.user-interaction {
    display: flex;
}
.user-interaction p{
    color: white;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-caption{
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
color: white;
margin-top: 5px;
}

.full_screen{
    height: 89%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}