*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    /* justify-content: center; */
}

#start
{
    width:70px;
    height:30px;
    text-align: center;
    margin-left: 50%;
    margin-top: 10%;
}

#stop
{
    width:70px;
    height:30px;
    text-align: center;
}