*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
    background-color: rgb(49, 49, 48);
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 10vh;
    
}
/*  */
.search{
    border: none;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    padding: 0 50px;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.3);
    position: relative;
    color: rgb(49, 49, 48)1;
    font-size: 1vw;
}
.SearchBar{
    position: absolute;
    left: 26%;
    z-index: 3;
    width: 20px;
    height: 20px;
   
}
.mike{
    position: absolute;
    right: 29%;
    z-index: 4;
    width: 35px;
    height: 35px;
}
.lens{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 26%;
}

/* for styling LINKS */
.links{
    display: flex;
    height:auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    gap: 40px;
    /* background-color: red; */
}
.logo img{
   width: 45px;
   height: 45px;
   border-radius: 50%;
   margin: 5px;
   
}
.logo p a{
    text-decoration: none;
    color: white;
}
.logo p a:hover{
    color: gray;
}
