*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
    
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
/* position: relative; */
}
.element{
    /* position: absolute; */
    height: 120px;
    width: 100%;
    /* background-color: burlywood; */
    color: white;
    border-bottom: 3px solid #fff;
display: flex;
align-items: center;
justify-content: flex-start;
cursor: pointer;
}
.element img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.1s;
}
.element h1{
    font-size: 4vw;
    position: absolute;
    z-index: 8;
    mix-blend-mode: difference;
}