@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Candal&family=League+Gothic&family=League+Spartan:wght@100..900&display=swap");

/*  font-family: "Candal", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-brand-color: #000;
  --common-padding: 0 8vw;
}
a {
  text-decoration: none;
  color: var(--primary-brand-color);
}
header {
  font-family: "Satoshi", sans-serif;
}
.header-top {
  background-color: var(--primary-brand-color);
  text-align: center;
  color: #fff;
  padding: 2vh;
}
.header-top a {
  color: #fff;
  text-decoration: underline;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  padding: var(--common-padding);
}
.header-logo a {
  font-weight: 900;
  font-size: 24px;
  font-family: "Candal", sans-serif;
}
.header-search {
  position: relative;
}
.header-search input {
  border-radius: 28px;
  padding: 4px 8px;
  border: none;
  background-color: #f0f0f0;
  padding-left: 36px;
}
.search-icon {
  position: absolute;
  left: 8px;
  top: 4px;
}
.header-options ul {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
}

main {
  height: 84vh;
  background-color: #f0f0f0;
}

/* new arrivals products */

.products {
  display: flex;
}

/* product page styling */

.product-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 4vw;
  padding: var(--common-padding);
}