*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-color: rgb(54, 53, 53);
}
.calender-container{
 height: 350px;
 width: 300px;
 background-color: white;   
 text-align: center;
 margin-top: 30px;
 border-radius: 15px;
 box-shadow: 0 4px 8px rgba(0,0,0,.3);
}

.months-name{
    margin: 5px;
    background-color: rgb(139, 87, 9);
    color:white;
    padding: 10px;
    font-size: 30px;
    font-weight:bold;
    border-radius: 10px;
}

.day-name{
    font-size: 20px;
    color: darkgray;
    margin: 15px;
}

.day-number{
    font-size: 80px;
    margin: 2px;
    font-weight: bold;
}

.year{
    margin:40px;
    font-size:20px;
    color: darkgray;
    font-weight: 500;

}